<h1>我的angular項目</h1>
<myc01></myc01>
<myc02></myc02>
<myc03></myc03>
<app-myc04></app-myc04>
<app-myc05></app-myc05>
<app-myc01-buy-count></app-myc01-buy-count>
<app-myc02-ngfor></app-myc02-ngfor>
<app-myc03-ngif></app-myc03-ngif>
<app-myc04-ngifelse></app-myc04-ngifelse>
<app-myc04-ngifelse-hw></app-myc04-ngifelse-hw>
<app-myc07-switch></app-myc07-switch>
<app-myc08-ngmodel></app-myc08-ngmodel>
<app-myc08-ngmodel-password></app-myc08-ngmodel-password>
<app-myc08-xu-yao-qiang-diao-test></app-myc08-xu-yao-qiang-diao-test>
<app-myc09-todolist></app-myc09-todolist>
<app-myc09-todolist2></app-myc09-todolist2>
<app-myc09-todolist2-pipe></app-myc09-todolist2-pipe>
<app-myc10></app-myc10>
<app-myc11-ajax-http-client></app-myc11-ajax-http-client>
<app-myc12-user></app-myc12-user>
<app-myc12-user-login></app-myc12-user-login>
<app-myc12-user-register></app-myc12-user-register>
<app-myc13-productlist></app-myc13-productlist>
<app-myc14-parent-blog></app-myc14-parent-blog>
<hr>
<hr>
<h2>學子商程-路由</h2>
<router-outlet></router-outlet>